* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.links {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  color: #000;
}

.logo {
  flex: 1;
  display: none;
}

.logo img {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.nav-mobile-links {
  display: none;
  flex: 2;
  text-align: right;
}

.nav-mobile-links.active {
  display: block;
  flex: 2;
  text-align: right;
}

.nav-mobile-links.active ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  text-align: right;
  background: #fff;
  height: 80vh;
}

.nav-mobile-links ul li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 20px;
}

.nav-desktop-links ul li {
  color: #fff;
}

.nav-mobile-links.active li {
  list-style: none;
  margin-bottom: 40px;
}

.nav-mobile-links.active a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.toggle {
  display: block;
  cursor: pointer;
  font-size: 20px;
}

.toggle.active {
  display: none;
  cursor: pointer;
  font-size: 20px;
}

.toggle-x {
  display: none;
  position: absolute;
  top: 20px;
  left: 14px;
}

.main-program button {
  padding: 16px 18px;
  width: 230px;
  background-color: #ec5242;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}

.toggle-x.active {
  display: block;
}

.toggle-x.active button {
  cursor: pointer;
  font-size: 42px;
  color: #000;
  background-color: transparent;
  border: none;
  margin-top: -12px;
  margin-bottom: -92px;
  align-self: center;
}

.nav-desktop-links {
  display: none;
}

/* main section start */
.main-part {
  margin: 0;
  padding: 0;
}

.container,
.about-container {
  background-image: url(image/main-bg2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 100vw;

  /* height: 100vh; */
}

article {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

article h2 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #ec5242;
}

article h1 {
  padding-top: 5px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  font-size: 36px;
  color: #ec5242;
  margin-bottom: 20px;
}

article p {
  margin-top: 10px;
  padding: 15px;
  max-width: 600px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

article .venue {
  padding-top: 20px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000;
  padding-bottom: 140px;
}

/* main-program section */

.main-program {
  text-align: center;
  background: url(image/main-pro-bg-img.jpg);

  /* background-color: #000; */
}

.main-program .main-title {
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

.mainCard {
  padding: 20px 20px;
}

.cardA {
  margin-top: 6px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  background: rgb(57, 60, 67, 0.85);

  /* background: rgba(255, 255, 255, 0.3); */
}

.cardA h3 {
  font-size: 16px;
  color: #ec5242;
}

.cardA p {
  font-size: 12px;
  color: #fff;
}

.main_head-style {
  margin: 0 auto;
  margin-left: 40vw;
  margin-top: 10px;
  width: 40px;
  height: 0.1px;
  background-color: #ec5242;
}

/* feature section start */

.featured-speaker {
  margin: 0 auto;
  text-align: center;
  color: #000;
  padding-left: 2px;
}

.featured-headline {
  margin-top: 30px;
  text-align: center;
}

.feature-1 {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;

  /* display: grid;
  grid-template-columns: 1fr 2fr; */
}

.featured-img {
  flex: 1;
}

.featured-article {
  flex: 3;
  width: 100%;
}

.feature-1 .featured-article {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  padding-left: 12px;
}

.featured-img img {
  width: 80px;
  height: 100px;

  /* margin-top: 22px; */
}

.feature-1 .featured-article .feature-desig {
  color: orangered;
  font-size: 12px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.feature-1 .featured-article .featured-details {
  color: #272a31;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

/* about section start */

/* about section a */

.about-section-a {
  text-align: center;
}

.about-section-a .about-creative-title {
  /* align-items: center; */
  margin-top: 20px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #000;
}

/* about section b */

.about-section-b {
  text-align: center;
  margin-top: 40px;
}

.about-section-b img {
  width: 300px;
  border: 1px solid #d3d3d3;
}

/* about section c */

.about-section-c {
  text-align: center;
}

.about-img-title {
  padding: 20px;
  margin-top: 20px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #000;
}

.about-title-details {
  padding: 20px;
  margin-top: -10px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #000;
}

.about-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.about-images img {
  width: 80vw;
}

/* footer section start */

/* partner section */
.partner {
  background: #414246;
}

.partner-title {
  padding-top: 20px;
  text-align: center;
}

.client {
  width: 100vw;
  text-align: center;
}

.client-ul {
  display: inline-block;
  margin: 10px 0 20px 0;
  padding-left: 60px;
  padding-right: 20px;
}

.client-ul img {
  float: left;
  width: 25vw;
  max-width: 150px;
  margin-right: 20px;
}

/* footer last */

.footerLast {
  padding-left: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  width: 100vw;
  padding-bottom: 10px;
}

.footer-description {
  flex: 2;
  padding-left: 20px;
}

.footer-logo {
  padding-top: 10px;
  flex: 1;
}

.footer-logo img {
  padding-left: 20px;
  width: 35vw;
  max-width: 100px;
}

.footer-title {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 1px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #000;
}

.footer-title2 {
  text-align: left;
  padding-right: 20px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: #000;
}

@media (min-width: 500px) {
  .desktop-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #d3d3d3;
  }

  .links {
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background: #3e3e3e;
    padding-right: 40px;
  }

  .links li {
    list-style: none;
    color: #d3d3d3;
    margin-right: 20px;
    font-size: 10px;
  }

  .logo {
    flex: 1;
    display: block;
    margin-left: 10vw;
  }

  .nav-mobile-links {
    display: block;
  }

  .nav-desktop-links {
    display: block;
  }

  .nav-mobile-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    text-align: right;
    padding-bottom: 14px;
    margin-right: 8vw;
  }

  .nav-mobile-links li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-mobile-links ul li {
    display: inline-block;
    margin-left: 4vw;
  }

  .nav-mobile-links a {
    text-decoration: none;
    color: #000;
  }

  .nav-mobile-links .home-menu a {
    text-decoration: none;
    color: #ec5242;
  }

  .nav-mobile-links .about-menu a {
    text-decoration: none;
    color: #ec5242;
  }

  .nav-mobile-links .cc-campaing a {
    text-decoration: none;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    padding: 1px 7px;
    border: 2px solid #ec5242;
  }

  .toggle {
    display: none;
    cursor: pointer;
  }

  .container article {
    padding-left: 14vw;
  }

  .toggle i {
    font-size: 26px;
  }

  .main-part {
    margin-top: 60px;
  }

  .mainCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .cardA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 18vw;
  }

  .main_head-style {
    margin-left: 48vw;
    margin-top: 10px;
    width: 40px;
    height: 0.1px;
    background-color: #ec5242;
  }

  /* feature section */

  .allFeature {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    gap: -2px;
    padding-bottom: 20px;
  }

  .featured-img img {
    width: 110px;
    height: 110px;
    margin-top: 12px;
  }

  .feature-1 {
    padding-top: 20px;
  }

  .featured-article {
    padding-left: 2px;
    padding-right: 2px;
    min-width: 20vw;
  }

  /* about section start */

  .about-section-c {
    width: 100vw;
  }

  .about-images {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 20vw;
  }

  .about-images img {
    width: 32vw;
    padding-bottom: 80px;
  }

  /* .img-2 img {
    height: 204px;
    margin-bottom: 4px;
  } */
}

@media screen and (min-width: 768px) {
  .nav-mobile-links ul li {
    display: inline-block;
    margin-right: 3vw;
  }

  .cc-campaing a {
    padding: 1px 4px;
  }

  .mainCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 13vw;
  }

  .card-img {
    padding-top: 20px;
  }

  .cardA h3 {
    color: #ec5242;
  }

  .cardA p {
    padding: 12px 12px 30px 12px;
  }

  .allFeature {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    gap: 2px;
    padding-bottom: 20px;
  }

  .featured-img img {
    width: 110px;
    height: 110px;
    margin-top: 12px;
  }

  .featured-article {
    padding-left: 10px;
  }

  /* about section start */

  .about-title {
    display: none;
  }

  .about-container {
    margin: 0 auto;
    text-align: center;
  }

  .about-container p {
    margin: 0 auto;
  }

  .about-creative-details {
    margin: 0 auto;
  }

  .about-section-c {
    width: 100vw;
  }

  .about-images {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 20vw;
  }

  .about-images img {
    width: 27vw;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  /* .img-2 img {
    height: 204px;
    margin-bottom: 4px;
  } */
}

@media screen and (min-width: 1440px) {
  .featured-speaker {
    width: 70vw;
  }

  .allFeature {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    gap: 2px;
    padding-bottom: 20px;
  }

  .featured-img img {
    width: 130px;
    height: 130px;
    margin-top: 12px;
  }

  .featured-article {
    max-width: 260px;
    padding-left: -7px;
    margin-left: -91px;
  }
}
